@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

@font-face {
  font-family: 'neuropolitical';
  src: url('../src/assets/fonts/neuropolitical rg.otf');
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  --all-body-letter-color: rgb(255, 255, 255);
  --buttons-color: rgb(2, 255, 2);
  --options-sidebar-color: rgb(67, 0, 98);
  --options-sidebar-selected-color: rgb(2, 255, 2);
  --options-sidebar-letter-color: rgb(255, 255, 255);
  --user-sidebar-color: rgb(145, 0, 0);
  --user-sidebar-selected-color: rgb(255, 251, 0);
  --user-sidebar-letter-color: rgb(255, 255, 255);
  --pages-color: rgb(2, 255, 2);
  --pages-hover-color: rgb(255, 251, 0);
  --pages-selected-color: rgb(0, 255, 255);
  --pages-letter-color: rgb(255, 255, 255);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--all-body-letter-color);
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:hover {
  color: inherit;
}

details,
label {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

summary {
  cursor: pointer;
}

button {
  width: 90px;
  height: 30px;
  background-color: rgb(0, 0, 0);
  border: 1px solid;
  color: var(--buttons-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

input {
  background: rgb(0, 0, 0);
  font-family: neuropolitical;
  height: 30px;
  border: 1px solid;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

button:hover,
input:hover {
  outline: 1px solid;
}

button:disabled,
button:hover:disabled {
  color: rgb(128, 128, 128);
  transform: translate(3px, 3px);
  box-shadow: none;
  outline: none;
}

button:active:enabled,
input:focus {
  box-shadow: none;
  transform: translate(3px, 3px);
}

input:focus {
  outline: none;
}

input[type="checkbox"],
input[type="radio"] {
  align-items: center;
  accent-color: var(--options-sidebar-color);
  height: 15px;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:hover~label,
input[type="radio"]:hover~label {
  cursor: pointer;
}

input[type="checkbox"]:hover,
input[type="checkbox"]:checked,
input[type="radio"]:hover,
input[type="radio"]:checked {
  outline: none;
  transform: scale(1.25);
  cursor: pointer;
}

.invisible {
  visibility: hidden;
}

.no-display {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(26, 26, 26);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-button {
  background-color: rgb(0, 0, 0);
}

summary {
  outline: none;
  display: block;
  padding-left: 10px;
  position: relative;
  cursor: pointer;
}

details summary::-webkit-details-marker {
  display: none;
}

details[open]>summary:before {
  transform: rotate(90deg);
}

summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent rgb(255, 255, 255);
  position: absolute;
  top: 4px;
  left: 0;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}