.login-register-container {
  background-image: url('../../assets/images/form-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.login-container,
.register-container,
.modal {
  background-color: rgba(0, 179, 255, 0.3);
  box-shadow: 10px 10px 5px 0px rgba(0, 179, 255, 0.2);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.register-container {
  background-color: rgba(0, 255, 183, 0.3);
}

.login-container:hover {
  outline: 1px solid rgb(0, 179, 255);

}
.register-container:hover {
  outline: 1px solid rgb(0, 255, 183);
}

.login-container h2,
.register-container h2 {
  font-family: neuropolitical;
  text-align: center;
  margin-bottom: 10px;
}

.input-icon-container {
  position: relative;
  display: flex;
}

.input-icon-container label {
  position: absolute;
  transition: .5s;
  pointer-events: none;
  font-size: 13px;
}

.input-icon-container input:focus~label,
.move-label {
  transform: translateY(-100%);
}

.login-form input,
.register-form input {
  background: transparent;
  border: none;
  width: 100%;
  border-radius: 20px;
  padding: 3px;
  transition: .8s;
  font-size: 12px;
}

.login-form input:hover,
.register-form input:hover {
  outline: none;
}

.login-form input:focus,
.register-form input:focus,
#loginEmail.color-input,
#loginPassword.color-input,
#registerName.color-input,
#registerSurName.color-input,
#registerUserName.color-input,
#registerDateOfBirth.color-input,
#registerEmail.color-input,
#registerPassword.color-input,
#registerRepeatPassword.color-input {
  background-color: rgb(255, 255, 255);
  transform: translate(0);
}

.login-form p,
.register-form p {
  margin-bottom: 20px;
}

.login-container img,
.register-container img {
  margin-left: 5px;
  filter: invert(1);
}

.login-container button,
.register-container button {
  width: 100%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 0px 0px rgb(51, 0, 255);
  border-color: rgb(51, 0, 255);
}

.login-container button:disabled,
.register-container button:disabled {
  background: transparent;
  color: rgb(128, 128, 128);
  transform: translate(3px, 3px);
  box-shadow: none;
}

.login-container button:hover:enabled,
.register-container button:hover:enabled {
  color: rgb(0, 255, 136);
  border-color: rgb(0, 255, 136);
  outline-color: rgb(0, 255, 136);
}

form p {
  color: rgb(120, 31, 31);
  font-size: 11px;
}

#registerDateOfBirth {
  padding-left: 80px;
  background: transparent;
  color: rgb(255, 255, 255);
}

#registerDateOfBirth:focus,
#registerDateOfBirth:valid {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  visibility: visible;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 30px;
}

.modal-content {
  text-align: center;
}

.modal-button {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 0px 0px rgb(51, 0, 255);
  border-color: rgb(51, 0, 255);
}

.modal-button:hover {
  color: rgb(0, 255, 136);
  border-color: rgb(0, 255, 136);
  outline-color: rgb(0, 255, 136);
}