.video-container-user-options {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.video-container2-user-options {
  position: absolute;
  right: 0;
  top: 1000px;
  z-index: -1;
}

#user-options-background-video,
#user-options-background-video2 {
  filter: brightness(1.0) contrast(2.0) saturate(2.0) hue-rotate(190deg);
  opacity: 0.8;
  height: 1000px;
}

.user-sidebar {
  width: 25%;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 100;
  color: var(--user-sidebar-letter-color);
  border-radius: 0 10px 0 10px;
  overflow: scroll;
  padding: 15px;
  transition: .25s transform ease;
}

.user-sidebar::-webkit-scrollbar-thumb {
  background-color: var(--user-sidebar-color);
}

.title-label {
  font-weight: bold;
}

.background-images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0;
}

.thumbnail-image-div {
  width: 33.3%;
  margin-bottom: -4px;
}

.thumbnail-image-div img {
  width: 100%;
  height: fit-content;
  transition: all 0.2s ease-in-out;
}

.thumbnail-image-div img:hover {
  outline: 1px solid var(--user-sidebar-selected-color);
  position: relative;
  transform: scale(1.2);
  z-index: 1;
  cursor: pointer;
  border-radius: 5px;
}

.selected-background {
  border: inset;
  transform: scale(1.2);
  border-radius: 5px;
  border:  2px solid var(--user-sidebar-color);
}

.user-info-input-label-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 5px 0;
}

.user-info-input-label-container input {
  font-size: 12px;
  width: 100%;
}

.user-info-input-label-container input,
.user-options-button {
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--user-sidebar-letter-color);
  border-color: var(--user-sidebar-color);
  box-shadow: 3px 3px 0px 0px var(--user-sidebar-color);
}

.user-options-button {
  margin: 10px 0;
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;
}

.user-info-input-label-container input:active,
.user-info-input-label-container input:hover,
.user-options-button:hover {
  color: var(--user-sidebar-selected-color);
  border-color: var(--user-sidebar-selected-color);
  outline-color: var(--user-sidebar-selected-color);
}