.containerDiv {
    color: rgb(0, 157, 255);
    padding: 5px;
}

.detailName {
    background: transparent;
    border: 0.5px solid #fff;
    outline: 0.5px solid #fff;
    position: fixed;
    font-size: 2rem;
    top: 11%;
    left: 25%;
    color: rgb(34, 255, 0);
    box-shadow: 0px 0px 10px 10px rgb(255, 255, 255);
    z-index: 40;

}

.detailTable {
    margin-top: 4rem;
}

.detailTable td {
    vertical-align: top;
}

ul {
    position: relative;
    z-index: 10;
}

ul li {}

p {
    margin-left: 5px;
}

span {}

.image {
    position: fixed;
    top: 10%;
    right: 0;
    z-index: 0;
    width: 30%;
}

.detailImage {
    width: 4%;
}

.detailvideocontainer {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

  }
  
  .detailbackgroundvideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }