@font-face {
    font-family: 'theFont';
    src: url('../../images/neuropolitical\ rg.otf') format('truetype');
}

.container-div {
    margin: 10px;
    position: relative;
    box-shadow: 3px 3px 10px 0px rgba(0, 255, 47, 1);
    transition: transform .2s;
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    border-radius: 2px;
}

.container-over {}

.container-above {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 500px;
}

.container-right,
.container-left {
    height: fit-content;
}

.container-below {}

.container-left {}

.container-twoCards-over {}

.container-threeCards-over {}

.container-fourCards-over {}

.container-fiveCards-over {}

.container-sixCards-over {}

.container-sevenCards-over {}

.container-eightCards-over {}

.container-nineCards-over {}

.container-tenCards-over {}

.container-twoCards-above {}

.container-threeCards-above {}

.container-fourCards-above {}

.container-fiveCards-above {}

.container-sixCards-above {}

.container-sevenCards-above {}

.container-eightCards-above {}

.container-nineCards-above {}

.container-tenCards-above {}

.container-twoCards-right {}

.container-threeCards-right {}

.container-fourCards-right {}

.container-twoCards-below {}

.container-threeCards-below {}

.container-fourCards-below {}

.container-fiveCards-below {}

.container-sixCards-below {}

.container-sevenCards-below {}

.container-eightCards-below {}

.container-nineCards-below {}

.container-tenCards-below {}

.container-twoCards-left {}

.container-threeCards-left {}

.container-fourCards-left {}

.container-twoCards-right,
.container-twoCards-left {
    width: 600px;
    height: 300px;
}

.container-threeCards-right,
.container-threeCards-left {
    width: 400px;
    height: 200px;
}

.container-fourCards-left {}

.card-div {
    display: flex;
}

.card-div h2 {}

.card-leftX {
    text-align: left;
}

.card-centerX {
    text-align: center;
}

.card-rightX {
    text-align: right;
}

.card-justify {
    text-align: justify;
}

.card-top,
.card-centerY,
.card-bottom,
.card-space-around,
.card-space-between,
.card-space-evenly {
    display: flex;
    flex-direction: column;
}

.card-top {
    justify-content: flex-start;
}

.card-centerY {
    justify-content: center;
}

.card-bottom {
    justify-content: flex-end;
}

.card-space-around {
    justify-content: space-around;
}

.card-space-between {
    justify-content: space-between;
}

.card-space-evenly {
    justify-content: space-evenly;
}

.card-over {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 100%;
}

.card-above,
.card-below {
    width: 100%;
}

.card-right {
    position: absolute;
    top: 0;
    right: 0;
}

.card-right,
.card-left {
    width: 50%;
}


.card-twoCards-over {
    font-size: 21px;
}

.card-threeCards-over {
    font-size: 20px;
}

.card-fourCards-over {
    font-size: 18px;
}

.card-fiveCards-over {
    font-size: 15px;
}

.card-sixCards-over {
    font-size: 13px;
}

.card-sevenCards-over {
    font-size: 10px;
}

.card-eightCards-over {
    font-size: 9px;
}

.card-nineCards-over {
    font-size: 8px;
}

.card-tenCards-over {
    font-size: 7px;
}

.card-twoCards-above,
.card-twoCards-below {
    max-width: 400px;
    font-size: 20px;
}

.card-threeCards-above,
.card-threeCards-below {
    font-size: 16px;
}

.card-fourCards-above,
.card-fourCards-below {
    font-size: 14px;
}

.card-fiveCards-above,
.card-fiveCards-below {
    font-size: 13px;
}

.card-sixCards-above,
.card-sixCards-below {
    font-size: 12px;
}

.card-sevenCards-above,
.card-sevenCards-below {
    font-size: 11px;
}

.card-eightCards-above,
.card-eightCards-below {
    font-size: 10px;
}

.card-nineCards-above,
.card-nineCards-below {
    font-size: 8px;
}

.card-tenCards-above,
.card-tenCards-below {
    font-size: 7px;
}

.card-twoCards-right {}

.card-threeCards-right {}

.card-fourCards-right {}

.card-twoCards-below {}

.card-threeCards-below {}

.card-fourCards-below {}

.card-fiveCards-below {}

.card-sixCards-below {}

.card-sevenCards-below {}

.card-eightCards-below {}

.card-nineCards-below {}

.card-tenCards-below {}

.card-twoCards-right,
.card-twoCards-left {
    height: 300px;
    font-size: 16px;
}

.card-threeCards-right,
.card-threeCards-left {
    height: 200px;
    font-size: 13.5px;
    line-height: 15px;
}

.card-fourCards-right,
.card-fourCards-left {
    height: 145px;
    font-size: 10px;
    line-height: 10px;
}

.image-div {
    /* position: relative;
    z-index: -1; */
}

.image-above {
    /* justify-content: flex-end;
    justify-items: flex-end;
    justify-self: flex-end;
    align-self: flex-end;
    align-content: flex-end; */
    align-self: end;
}

/* .image-above img {
    justify-content: flex-end;
    justify-items: flex-end;
    justify-self: flex-end;
    align-self: flex-end;
    align-content: flex-end;
} */

.image-over,
.image-above,
.image-below {}

.image-right {
    position: relative;
    z-index: -1;
    width: 50%;
}

.image-left {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.image-twoCards-over {}

.image-threeCards-over {}

.image-fourCards-over {}

.image-fiveCards-over {}

.image-sixCards-over {}

.image-sevenCards-over {}

.image-eightCards-over {}

.image-nineCards-over {}

.image-tenCards-over {}

.image-twoCards-over,
.image-twoCards-above,
.image-twoCards-below {
    width: 400px;
    height: 400px;
}

.image-threeCards-over,
.image-threeCards-above,
.image-threeCards-below {
    width: 350px;
    height: 350px;
}

.image-fourCards-over,
.image-fourCards-above,
.image-fourCards-below {
    height: 296px;
}

.image-fiveCards-over,
.image-fiveCards-above,
.image-fiveCards-below {
    height: 232px;
}

.image-sixCards-over,
.image-sixCards-above,
.image-sixCards-below {
    height: 190px;
}

.image-sevenCards-over,
.image-sevenCards-above,
.image-sevenCards-below {
    height: 160px;
}

.image-eightCards-over,
.image-eightCards-above,
.image-eightCards-below {
    height: 138px;
}

.image-nineCards-over,
.image-nineCards-above,
.image-nineCards-below {
    height: 120px;
}

.image-tenCards-over,
.image-tenCards-above,
.image-tenCards-below {
    height: 106px;
}

.image-twoCards-right {}

.image-threeCards-right {}

.image-fourCards-right {}

.image-twoCards-below {}

.image-threeCards-below {}

.image-fourCards-below {}

.image-fiveCards-below {}

.image-sixCards-below {}

.image-sevenCards-below {}

.image-eightCards-below {}

.image-nineCards-below {}

.image-tenCards-below {}

.image-twoCards-right,
.image-twoCards-left {
    height: 300px;
}

.image-threeCards-right,
.image-threeCards-left {
    height: 200px;
}

.image-fourCards-right,
.image-fourCards-left {
    height: 145px;
}

.favoriteButton {
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 10;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
}

h2 {
    font-size: inherit;
    border-radius: 6px;
    padding: 1px;
    color: inherit;
    font-family: theFont;
}

img {
    width: 100%;
    border-radius: 2px;
}

.container-div:hover {
    z-index: 10;
    transform: scale(1.1);
    background-color: #fff;
    box-shadow: 0px 0px 10px 5px rgba(0, 255, 47, 1);
}