.searchBy-container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.searchBy-label {
  margin-right: 5px;
}

.searchBy-container label {
  margin-left: 5px;
}

.searchBy-checkbox-container {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 0;
}

.searchBar-container input {
  padding: 1px;
  width: 230px;
  border-radius: 5px;
  font-family: neuropolitical;
  font-size: 21px;
  border: 0;
  color: rgb(0, 255, 242);
  background: transparent;
  border: 1px solid rgb(0, 0, 255);
  box-shadow: 3px 3px 0px 0px rgb(0, 0, 255);
  transition: .2s ease-in-out;
}

.searchBar-container input::placeholder {
  color: rgb(0, 162, 154);
  font-size: 16px;
  text-align: center;
}

.searchBar-container input:hover {
  border: 1px solid rgb(0, 255, 242);
  outline: 1px solid rgb(0, 255, 242);
  box-shadow: 3px 3px 0px 0px rgb(0, 255, 242);
}

.searchBar-container input:focus {
  box-shadow: none;
  transform: translateY(4px);
}

.reset-query {
  color: rgb(2, 255, 2);
  box-shadow: 3px 3px 0px 0px rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
}

.reset-query:hover {
  color: rgb(255, 2, 2);
  box-shadow: 3px 3px 0px 0px rgb(255, 247, 0);
  border-color: rgb(255, 247, 0);
}