.searchBar-main-container {
  position: fixed;
}

.searchBy-container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.searchBy-label {
  margin-right: 5px;
}

.searchBy-container label {
  margin-left: 5px;
}

.searchBy-checkbox-container {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 0;
}

.searchBar-container input {
  width: 230px;
  font-size: 21px;
  color: rgb(0, 255, 242);
  border-color: rgb(0, 0, 255);
  box-shadow: 3px 3px 0px 0px rgb(0, 0, 255);
}

.searchBar-container input::placeholder {
  color: rgb(0, 162, 154);
  font-size: 16px;
  text-align: center;
}

.searchBar-container input:hover {
  border-color: rgb(0, 255, 242);
  outline-color: rgb(0, 255, 242);
}

.searchBar-container input:focus {
  border-color: rgb(0, 255, 242);
}

.reset-query {
  color: rgb(2, 255, 2);
  box-shadow: 3px 3px 0px 0px rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
}

.reset-query:hover {
  color: rgb(255, 2, 2);
  box-shadow: 3px 3px 0px 0px rgb(255, 247, 0);
  border-color: rgb(255, 247, 0);
}