@font-face {
    font-family: 'theFont';
    src: url('../../images/neuropolitical\ rg.otf') format('truetype');
}

.searchBarDiv {}

.searchBarDiv input {
    margin-top: 1px;
    padding: 1px;
    padding-left: 2px;
    width: 230px;
    border-radius: 5px;
    font-family: theFont;
    font-size: 21px;
    border: 0;
    color: rgb(0, 255, 242);
    background: transparent;
    border: 1px solid rgb(0, 0, 255);
    box-shadow: 3px 3px 0px 0px rgb(0, 0, 255);


}

.searchBarDiv input::placeholder {
    color: rgb(0, 162, 154);
    padding-left: 2px;
    font-size: 16px;
    text-align: center;
  }

.searchBarDiv input:hover {
    border: 1px solid rgb(0, 255, 242);
    outline: 1px solid rgb(0, 255, 242);
    box-shadow: 3px 3px 0px 0px rgb(0, 255, 242);

}

.searchBarDiv input:focus {
    box-shadow: none;
    transform: translateY(4px);
    border: 1px solid greenyellow;
}