.cardsDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-decoration: none;
    justify-items: center;
    margin-top: 200px;
}

.twoCards,
.twoCardsH,
.twoCardsF
.twoCardsHF {
    grid-template-columns: repeat(2, 1fr);
}
.threeCards,
.threeCardsH,
.threeCardsF,
.threeCardsHF {
    grid-template-columns: repeat(3, 1fr);
}
.fourCards,
.fourCardsH,
.fourCardsF,
.fourCardsHF {
    grid-template-columns: repeat(4, 1fr);
}
.fiveCards,
.fiveCardsF {
    grid-template-columns: repeat(5, 20%);
}
.sixCards,
.sixCardsF {
    grid-template-columns: repeat(6, 1fr);
}
.sevenCards,
.sevenCardsF {
    grid-template-columns: repeat(7, 1fr);
}
.eightCards,
.eightCardsF {
    grid-template-columns: repeat(8, 12.5%);
}
.nineCards,
.nineCardsF {
    grid-template-columns: repeat(9, 1fr);
}
.tenCards,
.tenCardsF {
    grid-template-columns: repeat(10, 1fr);
}